<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TwitchBot.Data.Shortcuts" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TwitchBot.Data.TwitchChatCommands" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TwitchBot.Data.DeathCounterUsersPermissions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DeathCounter.Data.TwitchChatCommands" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DeathCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TwitchBot.Data.Shortcuts>
            <setting name="StartCounter" serializeAs="String">
                <value />
            </setting>
            <setting name="StopCounter" serializeAs="String">
                <value />
            </setting>
            <setting name="AddDeath" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoveDeath" serializeAs="String">
                <value />
            </setting>
            <setting name="PauseBoss" serializeAs="String">
                <value />
            </setting>
            <setting name="ResumeBoss" serializeAs="String">
                <value />
            </setting>
            <setting name="StopBoss" serializeAs="String">
                <value />
            </setting>
        </TwitchBot.Data.Shortcuts>
        <TwitchBot.Data.TwitchChatCommands>
            <setting name="CommandStart" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="AddDeath" serializeAs="String">
                <value>add</value>
            </setting>
            <setting name="RemoveDeath" serializeAs="String">
                <value>remove</value>
            </setting>
            <setting name="StartBoss" serializeAs="String">
                <value>boss</value>
            </setting>
            <setting name="PauseBoss" serializeAs="String">
                <value>pause</value>
            </setting>
            <setting name="EndBoss" serializeAs="String">
                <value>end</value>
            </setting>
        </TwitchBot.Data.TwitchChatCommands>
        <TwitchBot.Data.DeathCounterUsersPermissions>
            <setting name="UsersWithPermission" serializeAs="String">
                <value>Marek
Karek</value>
            </setting>
        </TwitchBot.Data.DeathCounterUsersPermissions>
        <DeathCounter.Data.TwitchChatCommands>
            <setting name="CommandStart" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="AddDeath" serializeAs="String">
                <value>add</value>
            </setting>
            <setting name="RemoveDeath" serializeAs="String">
                <value>remove</value>
            </setting>
            <setting name="StartBoss" serializeAs="String">
                <value>boss {bossName}</value>
            </setting>
            <setting name="PauseBoss" serializeAs="String">
                <value>pause</value>
            </setting>
            <setting name="EndBoss" serializeAs="String">
                <value>end</value>
            </setting>
            <setting name="Empty1" serializeAs="String">
                <value />
            </setting>
            <setting name="Empty" serializeAs="String">
                <value />
            </setting>
        </DeathCounter.Data.TwitchChatCommands>
        <DeathCounter.Properties.Settings>
            <setting name="TwitchAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchBotCliendID" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchBotToken" serializeAs="String">
                <value />
            </setting>
        </DeathCounter.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>